<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>เนื้อหา ภาคใต้</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Athiti|Krub|Prompt&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../../script-for-content.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div>
        <nav>
            <div class="label" id="logo" style="color: black;"><a href="../../index.html"><h3>เก่าแก่</h3></div>
            <a class="nav-link" id="about" style="color: black;" href="../../aboutus.html">เกี่ยวกับเรา</a>
            <div class="dropdown">
                <button id="park" style="color: black;" class="dropbtn active">
                    ภูมิภาค
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../south.html">ภาคใต้</a>
                    <a class="active-dropdown" href="../../mid.html">ภาคกลาง</a>
                    <a href="../../east.html">ภาคตะวันออกเฉียงเหนือ</a>
                    <a href="../../noth.html">ภาคเหนือ</a>
                </div>
            </div>
            <a class="nav-link" id="home" style="color: black;" href="../../index.html">หน้าแรก</a>
        </nav>
    </div>
    <div id="app">
    <div v-for="detail in informationlist" v-bind:key="detail.id">
    <div class="center-detail" style="margin-top: 80px;" v-if="detail.id == select">
        <div class="row" style="justify-content: center;margin-top: 20px; margin-bottom: 150px;">
            <h1 style="font-size: 3.5em;">{{detail.title}}</h1>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <div class="row">
                    <div class="col text-center">
                        <h2><b>ที่ตั้ง</b></h2>
                        <br /><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            &emsp;{{detail.address}}
                        </p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <img style="width: 100%; height: auto;" v-bind:src="detail.image1" />
            </div>
            <div class="col"></div>
        </div>

        <div class="row" style="margin-top:100px;">
            <div class="col"></div>
            <div class="col-7">
                <div class="row">
                    <div class="col text-center">
                        <h2><b>ความสำคัญทางประวัติศาสตร์</b></h2>
                        <br /><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &emsp;{{detail.information}}
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <img style="width: 100%; height: auto;" v-bind:src="detail.image2" />
            </div>
            <div class="col"></div>
        </div>

        <div class="row" style="margin-top:100px;">
            <div class="col"></div>
            <div class="col-7">
                <div class="row">
                    <div class="col text-center">
                        <h2><b>หลักฐานที่พบ</b><br><br></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            &emsp;{{detail.place}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <img style="width: 100%; height: auto;" v-bind:src="detail.image3" />
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
</div>

    <script src="../../vue-south.js"></script>
    <script src="../../script.js"></script>
</body>

</html>