<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ภาคตะวันออกเฉียงเหนือ</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Krub|Prompt&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <nav>
            <div class="label"><a href="index.html"><h3>เก่าแก่</h3></div>
            <a class="nav-link" href="aboutus.html">เกี่ยวกับเรา</a>
            <div class="dropdown">
                <button class="dropbtn active">ภูมิภาค 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="south.html">ภาคใต้</a>
                    <a href="mid.html">ภาคกลาง</a>
                    <a class="active-dropdown" href="#">ภาคตะวันออกเฉียงเหนือ</a>
                    <a href="noth.html">ภาคเหนือ</a>
                </div>
            </div> 
            <a class="nav-link" href="index.html">หน้าแรก</a>
        </nav>
        <div style="background: url(img/e_bg.jpg);background-attachment: 
        fixed;background-position: center;background-repeat: no-repeat; animation: zoom 25s infinite alternate;"
            class="cover-img">
            <div style="height: 100%; width: 100%; background-color: black; opacity: 0.15;"></div>
        </div>
        <div class="center-text" style="font-size: 70px;">ภาคตะวันออกเฉียงเหนือ</div>
    </div>

    <div class="container sub-page">
        <br>
        <div id="app">
            <div class="row">
                <div class="col sm-8">
                    <h3>โบราณสถาน</h3>
                </div>
                <div class="col sm-4">
                    <div class="search-bar">
                        <img src="/img/icons8-search-256.png" alt="">
                        <input class="search-input" type="text" v-model="search"
                            placeholder="ค้นหาโบราณสถาน , จังหวัด" />
                    </div>
                </div>
            </div>
            <br>
            <transition-group name="fade">
                <div v-for="card, i in filterCard" v-bind:key="card.title">
                    <div v-if="i%2 == 0" class="row sub-page-content">
                        <div class="col-sm-8 content-box">
                            <a v-bind:href="card.link" class="link-box" v-on:click="eiei(card.id)">
                                <div class="row">
                                    <div class="col-sm-5 img-box">
                                        <img class="sub-page-img" v-bind:src="card.img" alt="">
                                    </div>
                                    <div class="col-sm-7">
                                        <dl>
                                            <dt class="mb-3 card_title">{{ card.title }}</dt>
                                            <dd><img class="icon-subpage" src="img/icons8-place-marker-50.png" alt="">
                                                {{ card.location }}
                                            </dd>
                                            <hr>
                                            <dd>
                                                {{ card.text }}
                                            </dd>
                                            <pre></pre>
                                        </dl>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                    <div v-else class="row sub-page-content">
                        <div class="col-sm-4"></div>
                        <div data-aos="fade-left" class="col-sm-8 content-box">
                            <a v-bind:href="card.link" class="link-box" v-on:click="eiei(card.id)">
                                <div class="row">
                                    <div class="col-sm-5 img-box">
                                        <img class="sub-page-img" v-bind:src="card.img" alt="">
                                    </div>
                                    <div class="col-sm-7">
                                        <dl>
                                            <dt class="mb-3 card_title">{{ card.title }}</dt>
                                            <dd><img class="icon-subpage" src="img/icons8-place-marker-50.png" alt="">
                                                {{ card.location }}
                                            </dd>
                                            <hr>
                                            <dd>
                                                {{ card.text }}
                                            </dd>
                                            <pre></pre>
                                        </dl>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                </transition>


        </div>
    </div>



    <div class="footer">
        <div class="footer1">
            <h3>เก่าแก่</h3><br>
            <a href="index.html">หน้าแรก</a> ·
            <a href="aboutus.html">เกี่ยวกับเรา</a>
            <p>
                เก่าแก่ &copy; 2019 </p>
            </p>
        </div>
        <div class="footer2">
            <p><img src="img/icons8-iphone-x-64.png" alt=""> 0909929418 </p>
            <br>
            <p><img src="img/icons8-important-mail-100.png" alt=""> weare@hotmail.com</p>
        </div>
        <div class="footer3">
            <h3>เกี่ยวกับเรา</h3>
            <p>เราเป็นนักพัฒนาเว็ปไชต์ที่อยากให้คนไทย ได้ย้อนรอยถึงประวัติของโบราณสถานในไทย</p>
        </div>
    </div>

    <script src="script.js"></script>
    <script src="vue-east.js"></script>
</body>

</html>